<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Responsive Login Form</title>


  <link rel='stylesheet prefetch' href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css'>

  <link rel="stylesheet" href="/stylesheets/style.css">

</head>

<body>
  <link href='https://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>

  <div class="login">
    <div class="login-header">
      <img src="images/logo.png" alt="ARS FUTURO">
      <h6>Bienvenido al Intranet</h6>
    </div>
    <form class="login-form" method="post" action="/login">
      <h3>Usuario:</h3>
      <input type="text" name="user_name" placeholder="Username" />
      <br>
      <h3>Contraseña:</h3>
      <input type="password" name="password" placeholder="Password" />
      <br>
      <input type="submit" value="Login" class="login-button" />
      <br>
      <div>
        <a class="sign-up" href="/signup">Registrate!</a>
      </div>
     <!-- <br>
      <h6 class="no-access">Can't access your account?</h6>-->
    </form>

  


  </div>

  <div class="error-page">
    <div class="try-again">Error: Try again?</div>
  </div>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js'></script>

  <script src="/javascripts/index.js"></script>

</body>

</html>