<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" /> 
    <script src="/javascripts/jquery-2.2.0.min.js"></script>
</head>

<body>
    <div class="container col-sm-12" id="mainform">
        <div id="signupbox" style=" margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">

            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">Sign Up</div>
                    
                    <div style="float:right; font-size: 85%; position: relative; top:-10px">
                        <a id="signinlink" href="/login">Sign In</a>
                    </div>
                </div>
                <div class="panel-body">
                </div>
            </div>
            <div class="alert alert-success col-sm-12"><%= message %></div>
            <a href="/signup">Atras</a>
            
        </div>
    </div>
</body>

</html>